<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hair App</title>
  </head>
  <body>
    <form class="" action="" method="post">
      <section>
        <label for="question1"></label>
        <input type="text" name="question1" value="">
      </section>
      <section>
        <label for="question2"></label>
        <input type="text" name="question2" value="">
      </section>
      <section>
        <label for="question"></label>
        <input type="text" name="question" value="">
      </section>
      <section>
        <label for="question"></label>
        <input type="text" name="question" value="">
      </section>
      <section>
        <label for="question"></label>
        <input type="text" name="question" value="">
      </section>
      <section>
        <label for="question"></label>
        <input type="text" name="question" value="">
      </section>
      <section>
        <label for="question"></label>
        <input type="text" name="question" value="">
      </section>

    </form>
  </body>
</html>
