<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="font-awesome.min.css">
    <link rel="stylesheet" href="public/css/">
    <title>Hair Share</title>
</head>
<body>
    <header>
        <ul>
          <li>
            <a href="/" class="navItem">Home</a>
          </li>
          <li>
            <a href="/profile" class="navItem">Profile</a>
          </li>
          <li>
            <a href="/logout" class="navItem">Logout</a>
          </li>
        </ul>
      </header>
    <div class="page-header text center">
        <h1><span class="fa fa-heart-o"></span>Feed</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
        <a href="/profile" class="btn btn-default btn-sm">Profile</a>
    </div>

    <div class="col-sm-6">

        <ul id="feed">
            <li class="post">

                <section>
                  <ul>
                    <% for(var i=0; i<posts.length; i++) { %>
                    <li>
                      <img src="<%= posts[i].imgPath %>" alt="">
                      <span><%= posts[i].userName %></span>
                      <span><%= posts[i].postCaption %></span>
                    </li>
                    <% } %>
                  </ul>

                  <% if (comments) { %>
                    <h2>Hi</h2>
                  <% } %>
                </section>


                <button class="commentBox">Comment</button>
                    <form action="/feed" method="post" class="commentHide">
                        <input name="Comment" class="text" type="text">
                        <input class="submitComment" type="submit" value=">">
                        <button class="cancel">Cancel</button>
                    </form>
            </li>
        </ul>

    </div>
    <script src="feed.js"></script>
</body>
</html>
