<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="font-awesome.min.css">
    <link rel="stylesheet" href="public/css/">
    <title>Hair Share</title>
</head>
<body>
    <div class="page-header text center">
        <h1><span class="fa fa-heart-o"></span>Feed</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
        <a href="/profile" class="btn btn-default btn-sm">Profile</a>
    </div>

    <div class="col-sm-6">
        <form id="createPost">
            <input type="file" class="picture" name="file-to-upload">
            <input type="text" class="caption" name="caption">
            <input type="submit" value="Post This">
        </form>
        <ul id="feed">
            <% for (var i=0; i<posts.length; i++) {%>
            <li class="post">
                <a href="/post?id=<%=posts[i]._id%>"><img class="picture" src="<%=posts[i].image %>"></a>
                <span class="caption"><%= posts[i].caption %></span>
                <button class="commentBox">Comment</button>
                    <form class="commentHide">
                        <input class="text" type="text">
                        <input class="submitComment" type="submit" value=">">
                        <button class="cancel">Cancel</button>
                    </form>
            </li>    
           <% } %>
        </ul>

    </div>
    <script src="feed.js"></script>
</body>
</html>