<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="font-awesome.min.css">
    <link rel="stylesheet" href="public/css/">
    <title>Hair Share</title>
</head>
<body>
    <header>
        <ul>
          <li>
            <a href="/signUpQuiz" class="navItem">Home</a>
          </li>
          <li>
            <a href="/feed" class="navItem">Feed</a>
          </li>
          <!-- <li>
            <a class="navItem" href="p.ejs
            "></a>Profile</li>
          <li> -->
            <li>
              <a href="/logout" class="navItem">Logout</a>
            </li>
        </ul>
      </header>
    <div class="page-header text center">
        <h1><span class="fa fa-heart-o"></span>Feed</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
        <a href="/profile" class="btn btn-default btn-sm">Profile</a>
    </div>

    <div class="col-sm-6">
        <form id="createPost">
            <input type="file" class="picture" name="file-to-upload">
            <input type="submit" value="Post This">
        </form>
        <ul id="feed">
            <li class="post">
                <a href="#">
                  <img class="picture" src="<%=posts %>">
                </a>
                <p>
                  <% if (comments) { %>
                    <h2><%= comments %></h2>
                  <% } %>
                </p>
                <button class="commentBox">Comment</button>
                    <form action="/feed" method="post" class="commentHide">
                        <input name="Comment" class="text" type="text">
                        <input class="submitComment" type="submit" value=">">
                        <button class="cancel">Cancel</button>
                    </form>
            </li>    
        </ul>

    </div>
    <script src="feed.js"></script>
</body>
</html>