<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/css/stylesIndex.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Corinthia:wght@700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <section id="banner">
      <div class="banner-text">
        <h1>Hair Share</h1>
        <p>Sharing your hair styles</p>
        <div class="banner-btn">
          <a href="#feature" ><span></span>Feature</a>
          <a href="/login"><span></span>Log / Sign</a>
        </div>
      </div>
    </section>

    <section id="feature">
        <div class="title-text">
          <h1>Feature</h1>
          <p>What are the hair types ?</p>
        </div>

        <div class="feature-box">
          <div class="single-feature">
            <div class="img-block">
              <img
            src="https://www.mizani.com/on/demandware.static/-/Sites-mizani-us-Library/default/dwb559121b/images/demo/texture/Texture_Type_1_texture.jpg"
              />
            </div>
            <div class="img-dec">
              <h3>Type 1: Straight</h3><hr>
              <p>1A:Straight (Fine/Thin)</p>
              <p>1B:Straight (Medium)</p>
              <p>1C:Straight (Coarse)</p>

            </div>
          </div>

          <div class="single-feature">
            <div class="img-block">
              <img
            src="https://www.mizani.com/on/demandware.static/-/Sites-mizani-us-Library/default/dwb746fb03/images/demo/texture/Texture_Type_3_texture.jpg"
              />
            </div>
            <div class="img-dec">
              <h3>Type 2: Wavy</h3><hr>
              <p>2A:Wavy (Fine/Thin)</p>
              <p>2B:Wavy (Medium)</p>
              <p>2C:Wavy (Coarse)</p>
            </div>
          </div>

          <div class="single-feature">
            <div class="img-block">
              <img
            src="https://www.mizani.com/on/demandware.static/-/Sites-mizani-us-Library/default/dw7b4334ec/images/demo/texture/Texture_Type_5_texture.jpg"
              />
            </div>
            <div class="img-dec">
              <h3>Type 3: Curly</h3><hr>
              <p>3A:Curly (Loose Curls)</p>
              <p>3B:Curly (Tight Curls)</p>
              <p>3C:Curly (Tight Curls or Corkscrews)</p>
            </div>
          </div>

          <div class="single-feature">
            <div class="img-block">
             <img
            src="https://www.mizani.com/on/demandware.static/-/Sites-mizani-us-Library/default/dwa8939d2c/images/demo/texture/Texture_Type_8_texture.jpg"
             />
            </div>
            <div class="img-dec">
              <h3>Type 4: Kinky/Coily</h3><hr>
              <p>4A:Kinky/Coily (Soft)</p>
              <p>4B:Kinky/Coily (Wiry)</p>
              <p>4C:Kinky/Coily (Zingy)</p>
            </div>
          </div>

        </div>
      </div>
    </section>

    <footer>
        <div class="footer-row">
          <div class="col">
            <h1>About</h1>
            <p>This is the Website help users sharing thier hair styles based on thier hair types</p>
          </div>
          <div class="col">
            <h3>Contact<div class="underline"><span></span></div></h3>
            <p><i class="bi bi-pin-map"></i> 2111 7th Ave,Seattle,WA,98121</p>
            <p class="email-id"><i class="bi bi-envelope"></i> hairshare@gmail.com</p>
            <p><i class="bi bi-telephone-forward"></i>  +1(425)460-2200</p>
          </div>
          <div class="col">
            <h3 >Links<div class="underline"><span></span></div></h3>
            <ul>
              <li><a href="#banner">Home</a></li>
              <li><a href="#feature">Feature</a></li>
              <li><a href="">Profile</a></li>
              <li><a href="#footer">About</a></li>

            </ul>
          </div>
          <div class="col">
            <h3>Subscribe<div class="underline"><span></span></div></h3>
            <form action="">
              <i class="bi bi-envelope-open-fill" style="font-size: 18px; margin-right: 10px; color: #fff;"></i>
              <input type="email" id="subEmail" placeholder="Enter you email address" required>
              <button type="submit"><i class="bi bi-box-arrow-in-right"style="font-size: 18px;"></i></button>
            </form>

          </div>
        </div>
        <hr>
        <p class="copyright">Hair Share @2021-All Rights Reserved</p>
      </footer>
  </body>
</html>
