<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/css/stylesIndex.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Corinthia:wght@700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <section id="banner">
      <div class="banner-text">
        <h1>Hair Share</h1>
        <p>Sharing your hair styles</p>
        <div class="banner-btn">
          <a href="#"><span></span>About</a>
          <a href="/login"><span></span>Log / Sign</a>
        </div>
      </div>
    </section>

    <section id="service">
        <div class="title-text">
          <p>About</p>
          <h1>What are the hair types</h1>
        </div>
        <div class="service-box">
          <div class="single-service">
            <img
            src="https://www.mizani.com/on/demandware.static/-/Sites-mizani-us-Library/default/dwb559121b/images/demo/texture/Texture_Type_1_texture.jpg"
            />
            <div class="img-dec">
              <h3>hair type</h3>
            </div>
          </div>

          <div class="single-service">
            <img
            src="https://www.mizani.com/on/demandware.static/-/Sites-mizani-us-Library/default/dwb559121b/images/demo/texture/Texture_Type_1_texture.jpg"
            />
            <div class="img-dec"></div>
          </div>

          <div class="single-service">
            <img
            src="https://www.mizani.com/on/demandware.static/-/Sites-mizani-us-Library/default/dwb559121b/images/demo/texture/Texture_Type_1_texture.jpg"
            />
            <div class="img-dec"></div>
          </div>

          <div class="single-service">
            <img
            src="https://www.mizani.com/on/demandware.static/-/Sites-mizani-us-Library/default/dwf1743cec/images/demo/texture/Texture_Type_2_texture.jpg"
            />
            <div class="img-dec"></div>
          </div>

          <div class="single-service">
            <img
            src="https://www.mizani.com/on/demandware.static/-/Sites-mizani-us-Library/default/dwf1743cec/images/demo/texture/Texture_Type_2_texture.jpg"
            />
            <div class="img-dec"></div>
          </div>

          <div class="single-service">
            <img
            src="https://www.mizani.com/on/demandware.static/-/Sites-mizani-us-Library/default/dwf1743cec/images/demo/texture/Texture_Type_2_texture.jpg"
            />
            <div class="img-dec"></div>
          </div>

          <div class="single-service">
            <img
            src="https://www.mizani.com/on/demandware.static/-/Sites-mizani-us-Library/default/dw7b4334ec/images/demo/texture/Texture_Type_5_texture.jpg"
            />
            <div class="img-dec"></div>
          </div>

          <div class="single-service">
            <img
            src="https://www.mizani.com/on/demandware.static/-/Sites-mizani-us-Library/default/dw7b4334ec/images/demo/texture/Texture_Type_5_texture.jpg"
            />
            <div class="img-dec"></div>
          </div>

        </div>
      </div>
    </section>

    <section id="footer">
      <div class="title-text">
        <p></p>
        <h1></h1>
      </div>

    </section>

  </body>
</html>
