<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="font-awesome.min.css">
    <link rel="stylesheet" href="profile.css">
    <title>Hair Share</title>
</head>
<body>
  <a href="/feed" class="btn btn-default btn-sm">Feed</a>
  <h1>hello my, <%= name%></h1>
  <img src="<%= picture%>" alt="">

  <div class="col-sm-6">
    <h3>Post a hair pic</h3>
    <form action"/createPost" method="post" id="createPost" enctype="multipart/form-data">
      <div>
        <label for="postImage">Add a hair post</label>
        <input name="postImage" type="file" placeholder="Upload Image">
      </div>
        <div>
          <label for="details"></label>
          <input type="text" placeholder="Tell about your style">
        </div>
        <button type="submit">Post</button>
    </form>
</div>

  

 
</body>
</html>