<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hair App</title>
  </head>
  <body>
    <form class="" action="/userPreferences" method="post">
      <!-- QUESTION: 1 -->


      <section>
        <p>Is your hair:</p>
        <input type="radio" name="ques1" value="">
        <label for="ques1">Straight</label>
        <input type="radio" name="ques1" value="">
        <label for="ques1">Wavy</label>
        <input type="radio" name="ques1" value="">
        <label for="ques1">Curly</label>
        <input type="radio" name="ques1" value="">
        <label for="ques1">Coily</label>
        <button type="button" name="button">Next</button>
      </section>

      <!-- QUESTION: 2 -->
      <section>
        <p>What is your hair density:</p>
        <input type="radio" name="ques2" value="">
        <label for="ques2">Low</label>
        <input type="radio" name="ques2" value="">
        <label for="ques2">Medium</label>
        <input type="radio" name="ques2" value="">
        <label for="ques2">High</label>
        <button type="button" name="button">Next</button>
      </section>

      <!-- QUESTION: 3 -->
      <section>
        <p>Hair porosity:</p>
        <input type="radio" name="ques3" value="">
        <label for="ques3">Low</label>
        <input type="radio" name="ques3" value="">
        <label for="ques3">Medium</label>
        <input type="radio" name="ques3" value="">
        <label for="ques3">High</label>
        <button type="button" name="button">Next</button>
      </section>

      <!-- QUESTION: 4 -->
      <section>
        <p>Hair Length:</p>
        <input type="radio" name="ques4" value="">
        <label for="ques4">Short</label>
        <input type="radio" name="ques4" value="">
        <label for="ques4">Chin Length</label>
        <input type="radio" name="ques4" value="">
        <label for="ques4">Shoulder Length</label>
        <input type="radio" name="ques4" value="">
        <label for="ques4">Long</label>
        <button type="button" name="button">Next</button>
      </section>

      <!-- QUESTION: 5 -->
      <section>
        <p>Hair Goals:</p>
        <input type="checkbox" name="ques5" value="">
        <label for="ques5">Define</label>
        <input type="checkbox" name="ques5" value="">
        <label for="ques5">Volumize</label>
        <input type="checkbox" name="ques5" value="">
        <label for="ques5">Shine</label>
        <input type="checkbox" name="ques5" value="">
        <label for="ques5">Strengthen</label>
        <input type="checkbox" name="ques5" value="">
        <label for="ques5">Reduce Frizz</label>
        <input type="checkbox" name="ques5" value="">
        <label for="ques5">Lengthen</label>
        <input type="checkbox" name="ques5" value="">
        <label for="ques5">Hydrate</label>
        <input type="checkbox" name="ques5" value="">
        <label for="ques5">Color Protect</label>
        <input type="checkbox" name="ques5" value="">
        <label for="ques5">Heat Protect</label>
        <button type="submit" name="button">Submit</button>
      </section>

    </form>
  </body>
</html>
