body{
    
    background-image: url("/images/feedBack.jpg");
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
  
  li{  
      display: inline;
      padding-left: 10px;
      border-bottom: 2px solid white;
    }
  
  .navItem{
      justify-content: center;
      color: white;
  
  
  } 

  .displayPost{
    height: 300px;
    width: 50%;
    background-color: rgb(101, 104, 104);
    border: 2px solid white;
    margin-top: 400px;
    opacity: 0.8;
}