body{
    background: #353b48;
    margin: 25px auto;
    width: 70%;
    color: #fff;
  }

li{  
    display: inline;
    padding-left: 10px;
    border-bottom: 2px solid white;
  }

.navItem{
    justify-content: center;
    color: white;


} 

.profileSection{
    width: 100%;
    height: 100px;

}
.profileAvi{
    width: 50%;
    height: 30px;
    /* float: left; */
}
.profileName{
    width: 50%;
    /* float: right; */
    height: 30px;
    margin: -30px 109px
    
}
h1, h3{
    font-size: 30px;
    font-style: italic;
    font-family: "Corinthia", cursive;
}

h3{
   text-underline-offset: 10px;
}

.createPost{
    height: 500px;
    width: 60%;
    border: 2px solid white;
    margin-left: 155px;
}



.style{
    position: absolute;
    bottom: 26%;
    /* right: 30%; */
    background-color: #353b48;
    width: 41%;
    height: 10%;
    text-align: center;
}

.uploadImage{
    position: absolute;
    bottom: 48%;
    right: 41%;
    background-color: #353b48;
    width: 20%;
    height: 11%;
    text-align: center;

}

.submitButton{
    height: 20px;
    width: 10%;
    margin: 49% 81%;
    bottom: 86%;
  }

  