body{
    
    background-image: url("/images/profileBackground.jpg");
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
  
  li{  
      display: inline;
      padding-left: 10px;
      border-bottom: 2px solid white;
    }
  
  .navItem{
      justify-content: center;
      color: white;
  
  
  } 
  
  .profileSection{
      width: 50%;
      height: 100px;
  
  }
   .profileAvi{
      width: 50%;
      height: 30px;
      border: 1px solid white;
  }
  .profileName{
      width: 50%;
      height: 30px;
      margin: -30px 150px
      
  }
  h1, h3{
      font-size: 30px;
      font-style: italic;
      font-family: "Corinthia", cursive;
  }
  
  h3{
     text-underline-offset: 10px;
  }
  
  .createPost{
      height: 300px;
      width: 50%;
      background-color: rgb(101, 104, 104);
      border: 2px solid white;
      margin-top: 400px;
      opacity: 0.8;
  }
  
  .uploadImage{
      background-color: #353b48;
      width: 30%;
      height: 60px;
      text-align: center;
      float: left;
  
  }
  
  .style{
      background-color: #353b48;
      width: 41%;
      height: 55px;
      text-align: center;
      float: left;
  }
  
  
  
  .submitButton{
      height: 40px;
      width: 20%;
      margin-top: 95px;
      font-size: 20px;
      background-color: #353b48;
    }
  
  
  